<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Date</title>
    <link rel="stylesheet" href="/stylesheets/userBookSlot.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-column" id="mon">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
        <div class="navbar-column" id="tue">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
        <div class="navbar-column" id="wed">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
        <div class="navbar-column" id="thu">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
        <div class="navbar-column" id="fri">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
        <div class="navbar-column" id="sat">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
        <div class="navbar-column" id="sun">
            <div class="day-line"></div>
            <div class="date-line"></div>
            <div class="month-line"></div>
        </div>
    </nav>

    <script src="/javascripts/userBookSlot.js"></script>
</body>
</html>
